@model DataLayer.Entities.Company

@{
    ViewData["Title"] = "Edit";
}

<style>
    .header-h1 h1 {
        position: relative;
        padding-bottom: .5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        color: #FFA500;
    }

        .header-h1 h1::before {
            content: "";
            position: absolute;
            border-bottom: 2px solid #FFA500;
            bottom: .25rem;
            left: 60%;
            width: 30%;
            transform: translateX(-50%);
        }

        .header-h1 h1::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #FFA500;
            bottom: 0;
            left: 50%;
            width: 15%;
            transform: translateX(-50%);
        }

    .header-h1-left h1 {
        text-align: left;
    }

        .header-h1-left h1::before,
        .header-h1-left h1::after {
            left: 0;
            transform: translateX(0);
        }
</style>
<div class="header-h1 header-h1-left">
    <h1>EDIT EMPLOYEE</h1>
    <h3></h3>
    <h4>@Model.Name</h4>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="visual"></label>
                <input asp-for="Name" readonly class="form-control-plaintext" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="contro l-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("FormOfOrganization", new List<SelectListItem>
       {
       new SelectListItem { Text = "Sole Proprietorship", Value = "Sole Proprietorship"},
       new SelectListItem { Text = "Partnership", Value="Partnership" },
       new SelectListItem { Text = "Corporation", Value="Corporation" },
       new SelectListItem { Text = "Limited Liability Company", Value="Limited Liability Company" }

       }, "Select Form Of Organization", new { @class = "form-control" })
            </div>
            <div>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Update" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
